<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ingvar.android.processor.examples">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".gallery.view.GalleryActivity"
            android:label="@string/label_gallery"/>

        <activity android:name=".weather.view.WeatherActivity"
            android:label="@string/label_weather"/>

        <activity android:name=".dictionary.view.DictionaryActivity"
            android:label="@string/label_dictionary"/>

        <activity android:name=".notifier.view.NotifierActivity"
                  android:label="@string/label_notifier"/>

        <activity android:name=".observation.view.ObservationActivity"
                  android:label="@string/label_observation"/>

        <service android:name=".service.ExampleService"/>

        <provider
            android:authorities="ingvar.android.examples.dictionary.provider"
            android:name=".dictionary.storage.DictionaryProvider"/>

        <provider
            android:authorities="ingvar.android.examples.weather.provider"
            android:name=".weather.persistence.WeatherProvider"/>

    </application>

</manifest>
